.Layout
  background-image: url("../images/city.jpg");
  background-size: cover;
  display flex
  padding: .5em
  margin: .5em
  test(brown)
  flex-direction column
  justify-content: space-between;
  min-height 100vh
  > section
    margin: .5em
  &-main
    display flex
    justify-content space-between
  &-status
    test(green)
    width: 200px
  &-battle
    background-image: url("../images/pattern.jpg");
    test(orange)
    flex: 1
    margin: 0 .5em
  &-phases
    position: relative;
    test(purple)
    width: 200px
  &-antagonist
    display: flex;
    justify-content: space-between;
    test(lightblue)
  &-player
    display: flex;
    justify-content: space-between;
    test(gray)
