body {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
}
.Card {
  width: 170px;
  background: #c2ac37;
  border: 5px solid #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 0.5em;
  padding: 0.5em;
}
.Card-description {
  background: #fff;
  padding: 0.5em;
  font-size: 12px;
  border: 2px solid #000;
}
.Card-name {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0.5em 0;
  font-size: 1em;
}
.Card-attack {
  background: #000;
  color: #fff;
  font-size: 0.7em;
  margin-top: 0.5em;
}
.Card-image {
  width: 100%;
}
.Battle {
  padding: 0.5em;
}
.Battle-antagonist {
  display: flex;
  justify-content: space-between;
}
.Battle-antagonist > div {
  margin: 0 0.5px 0 0.5px;
}
.Battle-player {
  display: flex;
  justify-content: space-between;
}
.Battle-player > div {
  margin: 0 0.5px 0 0.5px;
}
.Layout {
  background-image: url("../images/city.jpg");
  background-size: cover;
  display: flex;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #a52a2a;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.Layout > section {
  margin: 0.5em;
}
.Layout-main {
  display: flex;
  justify-content: space-between;
}
.Layout-status {
  border: 1px solid #008000;
  box-sizing: border-box;
  width: 200px;
}
.Layout-battle {
  background-image: url("../images/pattern.jpg");
  border: 1px solid #ffa500;
  box-sizing: border-box;
  flex: 1;
  margin: 0 0.5em;
}
.Layout-phases {
  position: relative;
  border: 1px solid #800080;
  box-sizing: border-box;
  width: 200px;
}
.Layout-antagonist {
  display: flex;
  justify-content: space-between;
  border: 1px solid #add8e6;
  box-sizing: border-box;
}
.Layout-player {
  display: flex;
  justify-content: space-between;
  border: 1px solid #808080;
  box-sizing: border-box;
}
.Status {
  background: #ffa500;
}
.Status-player {
  background: #f00;
  padding: 0.5em;
  color: #fff;
  margin: 0;
}
.Status-points {
  padding: 0.5em;
  text-align: center;
  margin: 0;
}
.Phases {
  background: #fff;
  border: 0.4em dashed #f00;
  position: absolute;
  right: 0;
}
